<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coderandyli.mybatisgenerator.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.coderandyli.mybatisgenerator.entity.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="date_create" property="dateCreate" jdbcType="TIMESTAMP" />
    <result column="date_update" property="dateUpdate" jdbcType="TIMESTAMP" />
    <result column="date_delete" property="dateDelete" jdbcType="TIMESTAMP" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="agency_status" property="agencyStatus" jdbcType="BIT" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="is_super_admin" property="isSuperAdmin" jdbcType="BIT" />
    <result column="last_login" property="lastLogin" jdbcType="TIMESTAMP" />
    <result column="last_modified_password" property="lastModifiedPassword" jdbcType="TIMESTAMP" />
    <result column="surname" property="surname" jdbcType="VARCHAR" />
    <result column="given_name" property="givenName" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="verify_status" property="verifyStatus" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="emergency_mobile" property="emergencyMobile" jdbcType="VARCHAR" />
    <result column="emergency_email" property="emergencyEmail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, salt, date_create, date_update, date_delete, account_id, 
    agency_status, group_id, is_super_admin, last_login, last_modified_password, surname, 
    given_name, position, status, version, verify_status, is_del, emergency_mobile, emergency_email
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coderandyli.mybatisgenerator.entity.User" >
    insert into user (id, username, password, 
      salt, date_create, date_update, 
      date_delete, account_id, agency_status, 
      group_id, is_super_admin, last_login, 
      last_modified_password, surname, given_name, 
      position, status, version, 
      verify_status, is_del, emergency_mobile, 
      emergency_email)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{dateCreate,jdbcType=TIMESTAMP}, #{dateUpdate,jdbcType=TIMESTAMP}, 
      #{dateDelete,jdbcType=TIMESTAMP}, #{accountId,jdbcType=VARCHAR}, #{agencyStatus,jdbcType=BIT}, 
      #{groupId,jdbcType=VARCHAR}, #{isSuperAdmin,jdbcType=BIT}, #{lastLogin,jdbcType=TIMESTAMP}, 
      #{lastModifiedPassword,jdbcType=TIMESTAMP}, #{surname,jdbcType=VARCHAR}, #{givenName,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{verifyStatus,jdbcType=INTEGER}, #{isDel,jdbcType=BIT}, #{emergencyMobile,jdbcType=VARCHAR}, 
      #{emergencyEmail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.coderandyli.mybatisgenerator.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="dateCreate != null" >
        date_create,
      </if>
      <if test="dateUpdate != null" >
        date_update,
      </if>
      <if test="dateDelete != null" >
        date_delete,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="agencyStatus != null" >
        agency_status,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="isSuperAdmin != null" >
        is_super_admin,
      </if>
      <if test="lastLogin != null" >
        last_login,
      </if>
      <if test="lastModifiedPassword != null" >
        last_modified_password,
      </if>
      <if test="surname != null" >
        surname,
      </if>
      <if test="givenName != null" >
        given_name,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="verifyStatus != null" >
        verify_status,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="emergencyMobile != null" >
        emergency_mobile,
      </if>
      <if test="emergencyEmail != null" >
        emergency_email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="dateCreate != null" >
        #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="dateUpdate != null" >
        #{dateUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="dateDelete != null" >
        #{dateDelete,jdbcType=TIMESTAMP},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="agencyStatus != null" >
        #{agencyStatus,jdbcType=BIT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="isSuperAdmin != null" >
        #{isSuperAdmin,jdbcType=BIT},
      </if>
      <if test="lastLogin != null" >
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedPassword != null" >
        #{lastModifiedPassword,jdbcType=TIMESTAMP},
      </if>
      <if test="surname != null" >
        #{surname,jdbcType=VARCHAR},
      </if>
      <if test="givenName != null" >
        #{givenName,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="verifyStatus != null" >
        #{verifyStatus,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
      <if test="emergencyMobile != null" >
        #{emergencyMobile,jdbcType=VARCHAR},
      </if>
      <if test="emergencyEmail != null" >
        #{emergencyEmail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coderandyli.mybatisgenerator.entity.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="dateCreate != null" >
        date_create = #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="dateUpdate != null" >
        date_update = #{dateUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="dateDelete != null" >
        date_delete = #{dateDelete,jdbcType=TIMESTAMP},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="agencyStatus != null" >
        agency_status = #{agencyStatus,jdbcType=BIT},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="isSuperAdmin != null" >
        is_super_admin = #{isSuperAdmin,jdbcType=BIT},
      </if>
      <if test="lastLogin != null" >
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedPassword != null" >
        last_modified_password = #{lastModifiedPassword,jdbcType=TIMESTAMP},
      </if>
      <if test="surname != null" >
        surname = #{surname,jdbcType=VARCHAR},
      </if>
      <if test="givenName != null" >
        given_name = #{givenName,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="verifyStatus != null" >
        verify_status = #{verifyStatus,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="emergencyMobile != null" >
        emergency_mobile = #{emergencyMobile,jdbcType=VARCHAR},
      </if>
      <if test="emergencyEmail != null" >
        emergency_email = #{emergencyEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coderandyli.mybatisgenerator.entity.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      date_create = #{dateCreate,jdbcType=TIMESTAMP},
      date_update = #{dateUpdate,jdbcType=TIMESTAMP},
      date_delete = #{dateDelete,jdbcType=TIMESTAMP},
      account_id = #{accountId,jdbcType=VARCHAR},
      agency_status = #{agencyStatus,jdbcType=BIT},
      group_id = #{groupId,jdbcType=VARCHAR},
      is_super_admin = #{isSuperAdmin,jdbcType=BIT},
      last_login = #{lastLogin,jdbcType=TIMESTAMP},
      last_modified_password = #{lastModifiedPassword,jdbcType=TIMESTAMP},
      surname = #{surname,jdbcType=VARCHAR},
      given_name = #{givenName,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      verify_status = #{verifyStatus,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=BIT},
      emergency_mobile = #{emergencyMobile,jdbcType=VARCHAR},
      emergency_email = #{emergencyEmail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>